@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-image: url(img/concrete_seamless.png);
	background-color: #F5F5F5;
}

.logo {
	margin-top: 5vh;
}

.title {
	font-family: 'Roboto', sans-serif;
	margin-top: 5vh;
	font-size: 64px;
}