@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    z-index: 1;
}

.app {
    background-image: url("/img/bg.jpg");
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.bg-modal {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    z-index: 0;
}

.footer {
    background-color: black;
    height: 64px;
    width: 100%;
    position: fixed;
    top: calc(100vh - 64px);
    left: 0;
}

.dropbar {
    border: medium solid white;
    color: white;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    width: 16ch;
    padding: 8px;
    text-align: center;
    user-select: none;
    cursor: default;
}